In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('jobs_dataset_with_feature.csv')

In [4]:
df.shape

(1615940, 2)

In [5]:
df.head()

,Role,Features
0,Social Media Manager,5 to 15 Years Digital Marketing Specialist M.T...
1,Frontend Web Developer,"2 to 12 Years Web Developer BCA HTML, CSS, Jav..."
2,Quality Control Manager,0 to 12 Years Operations Manager PhD Quality c...
3,Wireless Network Engineer,4 to 11 Years Network Engineer PhD Wireless ne...
4,Conference Manager,1 to 12 Years Event Manager MBA Event planning...

In [6]:
df['Role'].value_counts()

Role
Interaction Designer            20580
Network Administrator           17470
User Interface Designer         14036
Social Media Manager            13945
User Experience Designer        13935
                                ...
Inventory Control Specialist     3342
Budget Analyst                   3335
Clinical Nurse Manager           3324
Social Science Researcher        3321
Paid Advertising Specialist      3306
Name: count, Length: 376, dtype: int64

In [7]:
 df=df.sample(n=10000)

In [8]:
df.head()

,Role,Features
1198162,Network Administrator,1 to 14 Years Network Engineer M.Tech Network ...
672033,Dental Hygiene Educator,2 to 13 Years Dental Hygienist MCA Dental hygi...
930439,Structural Engineer,2 to 8 Years Civil Engineer BA Structural engi...
849511,Front-End Developer,3 to 10 Years UI Developer M.Com Front-end web...
386005,Quality Assurance Manager,3 to 9 Years Quality Assurance Analyst PhD Qua...

# TFIDF

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

X = df['Features']
y= df['Role']

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

tfidf_vectorizer= TfidfVectorizer()
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train)
X_test_tfidf = tfidf_vectorizer.transform(X_test)

In [40]:
rf_classifier = RandomForestClassifier(n_estimators=70, max_depth=100, min_samples_leaf=5, random_state=42)
rf_classifier.fit(X_train_tfidf,y_train)

y_pred= rf_classifier.predict(X_test_tfidf)

In [41]:
accuracy = accuracy_score(y_test,y_pred)
print(accuracy)

0.92

In [42]:
import re;
def cleanResume(resumeText):
    # This is a basic implementation - adjust based on your actual requirements
    # Remove special characters, extra spaces, etc.
    resumeText = re.sub('http\S+\s*', ' ', resumeText)  # Remove URLs
    resumeText = re.sub('RT|cc', ' ', resumeText)  # Remove RT and cc
    resumeText = re.sub('#\S+', ' ', resumeText)  # Remove hashtags
    resumeText = re.sub('@\S+', ' ', resumeText)  # Remove mentions
    resumeText = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""), ' ', resumeText)  # Remove punctuations
    resumeText = re.sub(r'[^\x00-\x7f]',r' ', resumeText)  # Remove non-ASCII characters
    resumeText = re.sub('\s+', ' ', resumeText)  # Replace multiple spaces with single space
    return resumeText.lower()  # Convert to lowercase

def job_recommendation(resume_text):
    resume_text =  cleanResume(resume_text)
    resume_tfidf= tfidf_vectorizer.transform([resume_text])
    predicted_category = rf_classifier.predict(resume_tfidf)[0]
    return predicted_category

In [44]:
resume_file = """John Doe
📍 Bangalore, India | 📧 john.doe@email.com | 📞 +91-XXXXXXXXXX | LinkedIn | GitHub

Professional Summary
Experienced IT professional with 3+ years in architecting, deploying, and maintaining scalable, secure, and highly available infrastructure on public cloud platforms. Proven expertise in automation, containerization, and DevOps practices, enabling fast, efficient, and reliable application delivery. Adept at integrating modern infrastructure tools and practices to streamline operations and reduce costs.

Core Skills
AWS (EC2, S3, Lambda, RDS, IAM, VPC)

Azure (Virtual Machines, Blob Storage, Functions, AKS)

Terraform, CloudFormation, Ansible

Docker, Kubernetes, EKS

Jenkins, GitHub Actions, GitLab CI/CD

Linux, Bash, Python

Monitoring: CloudWatch, Prometheus, Grafana

Networking, Load Balancers, DNS, VPN

Professional Experience
Infrastructure Automation Specialist
TechNova Solutions | Hyderabad | Jan 2022 – Present

Designed and provisioned AWS infrastructure using Terraform and CloudFormation for production workloads.

Automated application deployments using Jenkins and GitHub Actions, reducing release cycle time by 60%.

Built and maintained Docker containers and managed orchestration with Kubernetes (EKS).

Created monitoring dashboards using CloudWatch and Grafana for real-time system metrics and alerts.

Configured secure VPC setups, subnets, and IAM roles for internal microservices.

DevOps and Deployment Engineer
CloudLogic Pvt. Ltd. | Remote | Jul 2020 – Dec 2021

Migrated legacy applications to container-based architecture on Azure Kubernetes Service (AKS).

Deployed and maintained Azure Functions for backend automation tasks.

Set up CI/CD pipelines using GitLab and Azure DevOps for multi-stage testing and deployment.

Implemented backup, disaster recovery, and cost-optimization strategies across services.

Collaborated with security team to enforce least-privilege access using IAM and Azure RBAC.

Projects
🔹 Multi-Region High Availability Architecture
Designed a fault-tolerant system on AWS using Route 53, Auto Scaling Groups, and ALB across multiple availability zones.

🔹 Serverless API Platform
Deployed serverless REST API using AWS Lambda, API Gateway, and DynamoDB with secure access and monitoring.

Certifications
AWS Certified Solutions Architect – Associate

Microsoft Certified: Azure Administrator Associate

HashiCorp Certified: Terraform Associate

Education
Bachelor of Technology in Computer Science
National Institute of Technology, Trichy | 2016 – 2020

"""

predicted_category=job_recommendation(resume_file)
print("Predicted Category:", predicted_category)

Predicted Category: DevOps Engineer

In [45]:
import pickle
pickle.dump(rf_classifier,open('rf_classifier_job_recommendation.pkl','wb'))
pickle.dump(tfidf_vectorizer,open('tfidf_vectorizer_job_recommendation.pkl','wb'))